body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f1116;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.fire-pit-container {
    position: relative;
    aspect-ratio: 5/6;
    width: 100px;
}

.fire-container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 78%;
}

.fire {
    position: absolute;
    bottom: -15%;
    rotate: 45deg;
    aspect-ratio: 1/1;
    width: 43%;
    scale: 0;
    transform: translateX(0);
    transform-origin: center;
    background-color: #eed429;
    border-radius: 4px;
}

.fire.left {
    animation: fire-grow-left 1.7s infinite ease-in-out;
}

.fire.right {
    animation: fire-grow-right 1.7s infinite ease-in-out;
}

@keyframes fire-grow-left {
    0%   {bottom: -15%; transform: translateX(6px); scale: 0; background-color: #eed429;}
    35%  {bottom: 5%; transform: translateX(-6px); scale: 1; background-color: #E9A523;}
    65%  {bottom: 25%; transform: translateX(6px); scale: .8; background-color: #E6891F;}
    100% {bottom: 100%; transform: translateX(0); scale: 0; background-color: #DB4311;}
}

@keyframes fire-grow-right {
    0%   {bottom: -15%; transform: translateX(-6px); scale: 0; background-color: #eed429;}
    35%  {bottom: 5%; transform: translateX(3px); scale: 1; background-color: #E9A523;}
    65%  {bottom: 25%; transform: translateX(-6px); scale: .8; background-color: #E6891F;}
    100% {bottom: 100%; transform: translateX(0); scale: 0; background-color: #DB4311;}
}

.wood-pile {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37%;
}

.wood {
    position: absolute;
    width: 80%;
    height: 40%;
    background-color: #65382e;
    border-radius: 5px;
}

.wood:nth-child(1) {
    rotate: 20deg;
    background-color: #572d25;
}

.wood:nth-child(2) {
    rotate: -20deg;
}