/* ============================================================= */
/* general  */
/* ============================================================= */
* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #000000;
    --purple-corners-color: #E648F3;
    --line-glow-color: #e1edff;
    --line-shadow-color: #4288f9;
    --dot-glow-color: #e1edff;
    --dot-shadow-color: #4288f9;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

.main-container {
    position: relative;
    height: 560px;
    width: 560px;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.bg-glow {
    background: radial-gradient(rgba(87, 114, 252, 70%) -103%, rgba(87, 114, 252, 0.0) 63%);
}

/* ============================================================= */
/* blue-line-box */
/* ============================================================= */

.blue-line-box {
    rotate: 45deg;
}

.blue-line-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.blue-line-container:nth-child(2) {
    rotate: 90deg;
}

.blue-line-container div {
    height: 2px;
    width: 165px;
}

.blue-line-container div:nth-child(1) {
    background-image: linear-gradient(to right, rgba(67, 69, 171, 0) , rgb(67 69 171));
}

.blue-line-container div:nth-child(2) {
    background-image: linear-gradient(to left, rgba(67, 69, 171, 0) , rgb(67 69 171));
}

/* ============================================================= */
/* cross-box */
/* ============================================================= */

.cross-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 450px;
}

.cross-bar-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cross-bar-container:nth-child(2) {
    rotate: 90deg;
}

.cross-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cross-container div {
    margin: 5px 0;
    height: 14px;
    width: 117px;
}

.cross-container:nth-child(1) div:nth-child(1),
.cross-container:nth-child(1) div:nth-child(2) {
    background-image: linear-gradient(to right, rgba(19, 32, 69, 0.2) , rgb(23, 38, 79));
}

.cross-container:nth-child(1) div:nth-child(1) {
    clip-path: polygon(0 0, 88% 0, 100% 100%, 0% 100%);
}

.cross-container:nth-child(1) div:nth-child(2) {
    clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
}

.cross-container:nth-child(2) div:nth-child(1),
.cross-container:nth-child(2) div:nth-child(2) {
    background-image: linear-gradient(to left, rgba(19, 32, 69, 0.2) , rgb(23, 38, 79));
}

.cross-container:nth-child(2) div:nth-child(1) {
    clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
}

.cross-container:nth-child(2) div:nth-child(2) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
}

svg {
    position: absolute;
    stroke:#d5b8ea;
    stroke-width: 2;
    height: 26.707px;
    width: 27.217px;
    fill: rgba(96,79,255,0.44);
}

.cross-container:nth-child(1) svg {
    left: 0;
}

.cross-container:nth-child(2) svg {
    right: 0;
    rotate: 180deg;
}

/* animations */
.cross-container:nth-child(1) svg {
    animation: cross-move-left 2s infinite ease-in-out;
}

@keyframes cross-move-left {
    0%   {left: 0; rotate: 0deg;}
    35%  {left: 90px; rotate: 0deg;}
    50%  {left: 90px; rotate: 180deg;}
    85%  {left: 0; rotate: 180deg;}
    100% {left: 0; rotate: 0deg;}
}

.cross-container:nth-child(2) svg {
    animation: cross-move-right 2s infinite ease-in-out;
}

@keyframes cross-move-right {
    0%   {right: 0; rotate: 180deg;}
    35%  {right: 90px; rotate: 180deg;}
    50%  {right: 90px; rotate: 360deg;}
    85%  {right: 0; rotate: 360deg;}
    100% {right: 0; rotate: 180deg;}
}

/* ============================================================= */
/* corner-box */
/* ============================================================= */

.corner-box {
    position: relative;
    height: 165px;
    width: 165px;  
}

.corner-box div {
    position: absolute;
    height: 54px;
    width: 54px;  
    border-color: var(--purple-corners-color);
    border-style: solid;
}

.corner-box div::after,
.corner-box div::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 6px;
    width: 6px;
    background-color: var(--purple-corners-color);
    rotate: 45deg;
}

.corner-box div:nth-child(1) {
    top: 0;
    left: 0;
    border-width: .4px 0 0 .4px;
}

.corner-box div:nth-child(1)::after {
    top: -3px;
    right: 0;
}

.corner-box div:nth-child(1)::before {
    bottom: 0;
    left: -3px;
}

.corner-box div:nth-child(2) {
    top: 0;
    right: 0;
    border-width: .4px .4px 0 0;
}

.corner-box div:nth-child(2)::after {
    top: -3px;
    left: 0;
}

.corner-box div:nth-child(2)::before {
    bottom: 0;
    right: -3px;
}

.corner-box div:nth-child(3) {
    left: 0;
    bottom: 0;
    border-width: 0 0 .4px .4px;
}

.corner-box div:nth-child(3)::after {
    top: 0;
    left: -3px;
}

.corner-box div:nth-child(3)::before {
    bottom: -3px;
    right: 0;
}

.corner-box div:nth-child(4) {
    right: 0;
    bottom: 0;
    border-width: 0 .4px .4px 0;
}

.corner-box div:nth-child(4)::after {
    top: 0;
    right: -3px;
}

.corner-box div:nth-child(4)::before {
    bottom: -3px;
    left: 0;
}

/* animations */
.corner-box {
    animation: corner-box 2s infinite ease-in-out;
}

@keyframes corner-box {
    0%   {height: 165px; width: 165px;}
    30%  {height: 275px; width: 275px;}
    40%  {height: 215px; width: 215px;}
    47%  {height: 275px; width: 275px;}
    51%  {height: 275px; width: 275px;}
    80%  {height: 165px; width: 165px;}
    100%  {height: 165px; width: 165px;}
}

/* ============================================================= */
/* line-box  */
/* ============================================================= */

.line-box {
    position: relative;
    height: 165px;
    width: 165px;  
}

.inner-line-box-row, 
.inner-line-box-col {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%; 
    rotate: 45deg;
}

.inner-line-box-col {
    flex-direction: column;
}

.inner-line-box-row div,
.inner-line-box-col div {
    position: relative; 
    background-color: var(--line-glow-color);
    box-shadow: 0 0 6px 0px #fff, 0px 0px 20px 4px #2782f2;
}

.inner-line-box-row div {
    height: 55px;
    width: 3px;
}

.inner-line-box-col div {
    height: 3px;
    width: 55px;
}

.inner-line-box-row div::before,
.inner-line-box-row div::after,
.inner-line-box-col div::before,
.inner-line-box-col div::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 2px;
    background-color: var(--line-glow-color);
    box-shadow: 0 0 6px 0px #fff, 0px 0px 20px 4px #2782f2;
}

.inner-line-box-row div:nth-child(1)::before {
    top: 0;
    left: -1.5px;
}

.inner-line-box-row div:nth-child(1)::after {
    left: -1.5px;
    bottom: 0;
}

.inner-line-box-row div:nth-child(2)::before {
    top: 0;
    right: -1.5px;
}

.inner-line-box-row div:nth-child(2)::after {
    right: -1.5px;
    bottom: 0;
}

.inner-line-box-col div:nth-child(1)::before {
    top: -1.5px;
    left: 0;
}

.inner-line-box-col div:nth-child(1)::after {
    top: -1.5px;
    right: 0;
}

.inner-line-box-col div:nth-child(2)::before {
    left: 0;
    bottom: -1.5px;
}

.inner-line-box-col div:nth-child(2)::after {
    right: 0;
    bottom: -1.5px;
}

/* animations */
.line-box {
    animation: line-box 2s infinite ease-in-out;
}

@keyframes line-box {
    0%   {rotate: 0deg; height: 165px; width: 165px;}
    30%  {height: 275px; width: 275px;}
    40%  {height: 185px; width: 185px;}
    47%  {rotate: 0deg; height: 275px; width: 275px;}
    51%  {rotate: 0deg; height: 275px; width: 275px;}
    70%  {rotate: 90deg; height: 110px; width: 110px;}
    83%  {rotate: 90deg; height: 165px; width: 165px;}
    100%  {rotate: 90deg; height: 165px; width: 165px;}
}

/* ============================================================= */
/* dot-box */
/* ============================================================= */

.dot-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
}

.dot-chanel {
    position: absolute;
    height: 100%;
    width: 25px;
}

.dot-chanel:nth-child(2) {
    rotate: 90deg;
}

.dot-container {
    background: radial-gradient(rgba(87, 114, 252, 25%) -130%, rgba(87, 114, 252, 0.0) 85%);
}

.dot-container,
.dot-container2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 30px;
    width: 25px;
}

.dot-container.top,
.dot-container2.top {
    top: 15px;
    left: 0;
}

.dot-container.bottom,
.dot-container2.bottom {
    bottom: 15px;
    left: 0;
    rotate: 180deg;
}

.dot-container div{
    margin: 0 2px;
    height: 5.5px;
    width: 5.5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 6px 0px #fff, 0px 0px 20px 4px #2782f2;
}

.dot-container2 div{
    margin: 0 2px;
    height: 5.5px;
    width: 5.5px;
    border-radius: 50%;
    background-color: #fff;
    /* box-shadow: 0 0 3px 0px #fff, 0px 0px 10px 0px #f5ff84; */ /* TODO: keep this one for reference */
    box-shadow: 0 0 3px 0px #fff;
}

/* animations */
.dot-container.top,
.dot-container2.top {
    animation: top-dot-moving 2s infinite ease-in-out;
}

@keyframes top-dot-moving {
    0%   {top: 15px;}
    25%   {top: 65px;}
    50%   {top: 65px;}  
    70%   {top: -15px;}  
    85%   {top: 15px;}  
    100%   {top: 15px;}  
}

.dot-container.bottom,
.dot-container2.bottom {
    animation: bottom-dot-moving 2s infinite ease-in-out;
}

@keyframes bottom-dot-moving {
    0%   {bottom: 15px;}
    25%   {bottom: 65px;}
    50%   {bottom: 65px;} 
    70%   {bottom: -15px;} 
    85%   {bottom: 15px;}  
    100%   {bottom: 15px;}  
}

.dot-box {
    animation: dot-box 2s infinite ease-in-out; 
}

@keyframes dot-box {
    0%   {rotate: 0deg;}
    25%   {rotate: 180deg;}
    100%   {rotate: 180deg;}  
}
